.shop-categories{
    &-products{
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            font-size: 26px;
            font-weight: 500;
            margin-top: 40px;

            span {
            margin-left: 10px;
            font-size: 18px;
            font-weight: 300;
            }
        }

        &__item{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 40px;
            grid-gap: 30px;
            align-items: center;
            justify-content: center;
            
        }
    }

    &-banner{
        display: flex;
        height: 300px;
        padding: 20px;
        padding-bottom: 0;
        align-items: flex-end;
        background: linear-gradient(90deg,rgb(167, 242, 209),  rgb(167, 242, 242), white 60% );
        animation: gradientTransition 0.3s linear;
    
        &-left {
            width: 50%;
            display: flex;
            margin-left: 130px;
            flex-direction: column;
            margin-bottom: 50px;

            a {
                text-decoration: none;
            }
    
            h2 {
                color: rgb(75, 74, 74);
                font-size: 16px;
                font-weight: 400;
            }
    
            h1 {
                font-size: 40px;
                font-weight: 600;
                margin: 0;
                color: rgb(3, 193, 193);
            }
    
            &__button {
                height: 60px;
                width: 220px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-weight: 400;
                background: teal;
                gap: 4px;
                margin-top: 30px;
                border-radius: 75px;
                cursor: pointer;
                transition: 0.3s all ease-out;
    
                &:hover {
                    transition: 0.3s all ease-out;
                    background: rgb(3, 193, 193);
                    width: 280px;
                }
            }
        }
    
        &-right {
            width: 50%;
            display: flex;
            justify-content: center;

            img {
                height: 300px;
            }
        }
    }

    @keyframes gradientTransition {
        0% {
          background: linear-gradient(90deg, white, white, white);
        }
        16.7% {
          background: linear-gradient(90deg, rgb(167, 242, 209), rgb(167, 242, 242), white 10%);
        }
        33.3% {
          background: linear-gradient(90deg, rgb(167, 242, 209), rgb(167, 242, 242), white 20%);
        }
        50% {
          background: linear-gradient(90deg, rgb(167, 242, 209), rgb(167, 242, 242), white 30%);
        }
        66.7% {
            background: linear-gradient(90deg, rgb(167, 242, 209), rgb(167, 242, 242), white 40%);
          }
        83.3% {
            background: linear-gradient(90deg, rgb(167, 242, 209), rgb(167, 242, 242), white 50%);
          }
        100% {
          background: linear-gradient(90deg, rgb(167, 242, 209), rgb(167, 242, 242), white 60%);
        }
      }
}